<div class="row">
  <div class="section">
    <h2>Forgot your password?</h2>

    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f| %>
      <%= devise_error_messages! %>

      <p class="field">
        <%= f.label :email do %>
          <%= f.email_field :email, placeholder: 'Email', autofocus: true, class: 'full' %>
        <% end %>
      </p>

      <div class="actions">
        <%= f.submit 'Send me reset instructions', class: 'btn full' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'devise/shared/links' %>
